/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
  background-image: url(../images/pixels.gif);
  background-position: center;
  background-size: 320px 16px;
  font: 14px 'Libre Baskerville', serif;
  text-align: left;
  margin: 16px auto;
  width: 320px;
}

p { margin-bottom: 1em; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

/*****************************************************************************/
/*
/* Site
/*
/* Color index:
/*   - Dark gray    #333
/*   - Mid gray     #666
/*   - Light gray   #F3F3F3
/*   - Bluelet      #8085C1
/*   - Muted blue   #48526D
/*   - Muddy orange #BE5816
/*
/*****************************************************************************/

.site {
  color: #333;
  margin: 0 4px;
}

main {
  padding: 20px;
}

main {
  background-color: #F3F3F3;
  background-image: url(../images/fabric_1.png);
}

main a:link, main a:visited {
  color: #8085C1;
}

header {
  background-color: #333;
  padding: 20px 10px;
  text-align: center;
}

header a {
  display: block;
  text-decoration: none;
}

.title .bonnie-moore {
  color: #48526D;
  font-family: 'Parisienne', cursive;
  font-size: 44px;
  line-height: 0.8em;
}

.title .designs {
  color: #BE5816;
  display: block;
  font-family: 'Libre Baskerville', serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 0.8em;
  padding-left: 90px;
  position: relative;
}

nav {
  background-color: #333;
}

nav ul {
  display: table;
}

nav li {
  display: table-cell;
  list-style: none;
  text-align: center;
  width: 33%;
}

nav a:link, nav a:visited {
  color: #F3F3F3;
  border: solid #333;
  border-width: 5px 0;
  display: block;
  font-size: 18px;
  padding: 5px 10px;
  text-decoration: none;
  white-space: nowrap;
}

#nav-gallery a:link, #nav-gallery a:visited {
  color: #FEC84E;
}

#nav-gallery a:hover, #nav-gallery a:active, #nav-gallery a.current {
  color: #333;
  background-color: #FEC84E;
}

#nav-about a:link, #nav-about a:visited {
  color: #FF8457;
}

#nav-about a:hover, #nav-about a:active, #nav-about a.current {
  color: #333;
  background-color: #FF8457;
}

#nav-links a:link, #nav-links a:visited {
  color: #FE5A51;
}

#nav-links a:hover, #nav-links a:active, #nav-links a.current  {
  color: #333;
  background-color: #FE5A51;
}

footer {
  background-color: #333;
  font-size: 80%;
  color: #666;
  margin: 16px 0 32px;
  padding: 20px 10px;
}

footer a:link, footer a:visited {
  color: #666;
}

footer a:hover, footer a:active {
  color: #8085C1;
}
