<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">

        <!-- Custom CSS -->
        <link href="http://fonts.googleapis.com/css?family=Parisienne|Libre+Baskerville:400,700,400italic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/"><span class="bonnie-moore">Bonnie Moore</span> <span class="designs">Designs</span></a></h1>
          </div>

          <main>
          {{ content }}
          </main>

          <div class="footer">
            <div class="contact">
              <p>
                Bonnie Moore Designs<br>
                Clifton, VA<br>
                info@bonniemooredesigns.com
              </p>
            </div>
            <p>
              Site design by Tim Moore
              <div xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/" about="http://subtlepatterns.com/fabric-1/">Includes work by <span property="dct:title">Subtle Patterns</span> (<a rel="cc:attributionURL" property="cc:attributionName" href="http://subtlepatterns.com">Subtle&nbsp;Patterns</a>)&nbsp;/&nbsp;<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">CC&nbsp;BY-SA&nbsp;3.0</a></div>
            <p>
          </div>
        </div>

    </body>
</html>
